<a class="closedbar inner hidden-sm hidden-xs" href="index.html#">
</a>
<nav id="pageslide-left" class="pageslide inner">
  <div class="navbar-content">
    <!-- start: SIDEBAR -->
    <app-sidebar></app-sidebar>
    <!-- end: SIDEBAR -->
  </div>
  <div class="slide-tools">
    <div class="col-xs-6 text-left no-padding">
      <a class="btn btn-sm status" href="index.html#">
        Status <i class="fa fa-dot-circle-o text-green"></i> <span>Online</span>
      </a>
    </div>
    <div class="col-xs-6 text-right no-padding">
      <a class="btn btn-sm log-out text-right" href="login_login.html">
        <i class="fa fa-power-off"></i> Log Out
      </a>
    </div>
  </div>
</nav>
