<div class="main-navigation left-wrapper transition-left">
  <div class="navigation-toggler hidden-sm hidden-xs">
    <a href="#" class="sb-toggle-left">
    </a>
  </div>
  <div class="user-profile border-top padding-horizontal-10 block">
    <div class="inline-block">
      <img src="{{avatarLg}}" alt="">
    </div>
    <div class="inline-block">
      <h5 class="no-margin"> Welcome </h5>
      <h4 class="no-margin"> {{userName}} </h4>
      <a class="btn user-options sb_toggle">
        <i class="fa fa-cog"></i>
      </a>
    </div>
  </div>
  <!-- start: MAIN NAVIGATION MENU -->
  <ul class="main-navigation-menu">
    <!-- start recursive templete -->
    <ng-template #recursiveList let-list>
      <li *ngFor="let item of list" >
        <a id="a_{{item.menu_id}}" href="#"><i class="{{item.icon}}" ></i>
          <span id="span_{{item.menu_id}}" class="title" (click)="loadDesktop(item)"> {{item.menu_lable}} </span>
          <i class="icon-arrow"></i>
        </a>
        <ul *ngIf="item.children.length > 0" class="sub-menu">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
        </ul>
      </li>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
    <!-- end recursive template -->
    <!-- <li class="active open">
      <a href="index.html"><i class="fa fa-home"></i>
        <span class="title"> Dashboard </span>
        <span class="label label-default pull-right ">LABEL</span>
      </a>
    </li> -->
  </ul>
  <!-- end: MAIN NAVIGATION MENU -->
</div>
